/target/
/yourfile.csv
/reportesDeHorarios/TEE_LIC EN INGENIERIA EN TELEINFO_Martes.csv
/reportesDeHorarios/LEMR_DOC BIOSIS ORIEN EN ECO Y RN_Miércoles.csv
/reportesDeHorarios/MEC_LIC EN INGENIERIA MECATRONICA_Jueves.csv
/reportesDeHorarios/MIEG_MAE EN CS EN ECOLOGIA Y GEST_Jueves.csv
/reportesDeHorarios/AGR_LIC EN ING. AGRONOMO_Martes.csv
/reportesDeHorarios/AGR_LIC EN ING. AGRONOMO_Jueves.csv
/reportesDeHorarios/DUDE_DOC EN CS EN BIOSIS, ECO Y MAN_Miércoles.csv
/reportesDeHorarios/NUTA_LIC EN NUTRICION_Lunes.csv
/reportesDeHorarios/MEMC_DOC BIOSIS ORIE ECO REC COST M_Viernes.csv
/reportesDeHorarios/PEM_TEC. SUP. UNI.EN ELECTRONICA Y_Lunes.csv
/reportesDeHorarios/TEE_LIC EN INGENIERIA EN TELEINFO_Miércoles.csv
/reportesDeHorarios/CPUA_LIC EN CONTADURIA PUBLICA_Jueves.csv
/reportesDeHorarios/MIEG_MAE EN CS EN ECOLOGIA Y GEST_Sábado.csv
/reportesDeHorarios/LIRN_LIC ING EN REC NAT YAGRO_Viernes.csv
/reportesDeHorarios/LIAD_LIC EN ADMINISTRACION_Jueves.csv
/reportesDeHorarios/MEMC_DOC BIOSIS ORIE ECO REC COST M_Miércoles.csv
/reportesDeHorarios/LIAD_LIC EN ADMINISTRACION_Martes.csv
/reportesDeHorarios/TEE_LIC EN INGENIERIA EN TELEINFO_Sábado.csv
/reportesDeHorarios/MEMC_DOC BIOSIS ORIE ECO REC COST M_Martes.csv
/reportesDeHorarios/CPUA_LIC EN CONTADURIA PUBLICA_Martes.csv
/reportesDeHorarios/PCI_LIC ING DE PROC Y COMER INTER_Martes.csv
/reportesDeHorarios/MEC_LIC EN INGENIERIA MECATRONICA_Sábado.csv
/reportesDeHorarios/INOB_LIC EN ING EN OBRAS Y SERVICIO_Martes.csv
/reportesDeHorarios/INOB_LIC EN ING EN OBRAS Y SERVICIO_Viernes.csv
/reportesDeHorarios/MCBM_MAE EN CS EN BIOSISTE_Miércoles.csv
/reportesDeHorarios/DUDE_DOC EN CS EN BIOSIS, ECO Y MAN_Martes.csv
/reportesDeHorarios/MDRE_MAE.EN DERECHO_Martes.csv
/reportesDeHorarios/PEM_TEC. SUP. UNI.EN ELECTRONICA Y_Jueves.csv
/reportesDeHorarios/DUBE_DOC. EN CS. EN BIOSISTEMATICA_Martes.csv
/reportesDeHorarios/DUDE_DOC EN CS EN BIOSIS, ECO Y MAN_Lunes.csv
/reportesDeHorarios/AGR_LIC EN ING. AGRONOMO_Lunes.csv
/reportesDeHorarios/PCI_LIC ING DE PROC Y COMER INTER_Lunes.csv
/reportesDeHorarios/PEM_TEC. SUP. UNI.EN ELECTRONICA Y_Sábado.csv
/reportesDeHorarios/MIAG_MAE EN ADMON Y GESTION OR AGR_Martes.csv
/reportesDeHorarios/PEM_TEC. SUP. UNI.EN ELECTRONICA Y_Martes.csv
/reportesDeHorarios/MIAG_MAE EN ADMON Y GESTION OR AGR_Jueves.csv
/reportesDeHorarios/PTE_TEC. SUP. UNI. EN TELEINFORMAT_Martes.csv
/reportesDeHorarios/MEC_LIC EN INGENIERIA MECATRONICA_Miércoles.csv
/reportesDeHorarios/MIRN_MAE EN CS EN MANEJO_Miércoles.csv
/reportesDeHorarios/MDRE_MAE.EN DERECHO_Sábado.csv
/reportesDeHorarios/LNTO_LICENCIATURA EN NUTRICION_Lunes.csv
/reportesDeHorarios/TEE_LIC EN INGENIERIA EN TELEINFO_Jueves.csv
/reportesDeHorarios/LCOP_LIC EN CONTADURIA PUBLICA_Sábado.csv
/reportesDeHorarios/LIAD_LIC EN ADMINISTRACION_Sábado.csv
/reportesDeHorarios/LBM_LIC EN BIOLOGIA MARINA_Lunes.csv
/reportesDeHorarios/CPUA_LIC EN CONTADURIA PUBLICA_Viernes.csv
/reportesDeHorarios/OBR_LIC EN ING.OBRAS Y SERVICIOS_Lunes.csv
/reportesDeHorarios/MDRE_MAE.EN DERECHO_Jueves.csv
/reportesDeHorarios/MIFE_MAE EN FINANZAS EMPRESARIALES_Martes.csv
/reportesDeHorarios/CPU_LIC EN CONTADURIA PUBLICA_Miércoles.csv
/reportesDeHorarios/LEMR_DOC BIOSIS ORIEN EN ECO Y RN_Sábado.csv
/reportesDeHorarios/ADM_LIC EN ADMINISTRACION_Miércoles.csv
/reportesDeHorarios/LEMR_DOC BIOSIS ORIEN EN ECO Y RN_Martes.csv
/reportesDeHorarios/MIFE_MAE EN FINANZAS EMPRESARIALES_Sábado.csv
/reportesDeHorarios/RNA_LIC ING. EN REC NATURALES Y A_Jueves.csv
/reportesDeHorarios/RNA_LIC ING. EN REC NATURALES Y A_Martes.csv
/reportesDeHorarios/DUME_DOC EN CS EN BIOSISTEMATICA_Miércoles.csv
/reportesDeHorarios/LNTO_LICENCIATURA EN NUTRICION_Jueves.csv
/reportesDeHorarios/PMU_PROF.MEDIO EN MUSICA_Lunes.csv
/reportesDeHorarios/RNA_LIC ING. EN REC NATURALES Y A_Sábado.csv
/reportesDeHorarios/PEM_TEC. SUP. UNI.EN ELECTRONICA Y_Viernes.csv
/reportesDeHorarios/RNA_LIC ING. EN REC NATURALES Y A_Viernes.csv
/reportesDeHorarios/LNTO_LICENCIATURA EN NUTRICION_Martes.csv
/reportesDeHorarios/PCI_LIC ING DE PROC Y COMER INTER_Viernes.csv
/reportesDeHorarios/MIFE_MAE EN FINANZAS EMPRESARIALES_Viernes.csv
/reportesDeHorarios/PTE_TEC. SUP. UNI. EN TELEINFORMAT_Lunes.csv
/reportesDeHorarios/MIAG_MAE EN ADMON Y GESTION OR AGR_Sábado.csv
/reportesDeHorarios/DUME_DOC EN CS EN BIOSISTEMATICA_Lunes.csv
/reportesDeHorarios/AGR_LIC EN ING. AGRONOMO_Miércoles.csv
/reportesDeHorarios/TEE_LIC EN INGENIERIA EN TELEINFO_Lunes.csv
/reportesDeHorarios/DUBE_DOC. EN CS. EN BIOSISTEMATICA_Miércoles.csv
/reportesDeHorarios/MDRE_MAE.EN DERECHO_Miércoles.csv
/reportesDeHorarios/OBR_LIC EN ING.OBRAS Y SERVICIOS_Viernes.csv
/reportesDeHorarios/MIFE_MAE EN FINANZAS EMPRESARIALES_Lunes.csv
/reportesDeHorarios/MIFE_MAE EN FINANZAS EMPRESARIALES_Jueves.csv
/reportesDeHorarios/MIFE_MAE EN FINANZAS EMPRESARIALES_Miércoles.csv
/reportesDeHorarios/LEMC_DOC BIOSIS ORIE ECO REC COST M_Viernes.csv
/reportesDeHorarios/LCOP_LIC EN CONTADURIA PUBLICA_Lunes.csv
/reportesDeHorarios/LEMC_DOC BIOSIS ORIE ECO REC COST M_Martes.csv
/reportesDeHorarios/LEMC_DOC BIOSIS ORIE ECO REC COST M_Jueves.csv
/reportesDeHorarios/NUTA_LIC EN NUTRICION_Miércoles.csv
/reportesDeHorarios/MITB_MAE EN ANALISIS TRIBUTARIO_Sábado.csv
/reportesDeHorarios/OBR_LIC EN ING.OBRAS Y SERVICIOS_Miércoles.csv
/reportesDeHorarios/PTE_TEC. SUP. UNI. EN TELEINFORMAT_Jueves.csv
/reportesDeHorarios/LEMC_DOC BIOSIS ORIE ECO REC COST M_Sábado.csv
/reportesDeHorarios/MEMR_DOCTO BIOSIS ORIEN EN ECO Y RN_Miércoles.csv
/reportesDeHorarios/INOB_LIC EN ING EN OBRAS Y SERVICIO_Miércoles.csv
/reportesDeHorarios/MITB_MAE EN ANALISIS TRIBUTARIO_Martes.csv
/reportesDeHorarios/MITB_MAE EN ANALISIS TRIBUTARIO_Jueves.csv
/reportesDeHorarios/CPUA_LIC EN CONTADURIA PUBLICA_Sábado.csv
/reportesDeHorarios/MEMC_DOC BIOSIS ORIE ECO REC COST M_Sábado.csv
/reportesDeHorarios/LNTO_LICENCIATURA EN NUTRICION_Sábado.csv
/reportesDeHorarios/DUME_DOC EN CS EN BIOSISTEMATICA_Martes.csv
/reportesDeHorarios/PTE_TEC. SUP. UNI. EN TELEINFORMAT_Sábado.csv
/reportesDeHorarios/DUDE_DOC EN CS EN BIOSIS, ECO Y MAN_Sábado.csv
/reportesDeHorarios/MEMC_DOC BIOSIS ORIE ECO REC COST M_Jueves.csv
/reportesDeHorarios/LIRN_LIC ING EN REC NAT YAGRO_Miércoles.csv
/reportesDeHorarios/MEC_LIC EN INGENIERIA MECATRONICA_Martes.csv
/reportesDeHorarios/LEMR_DOC BIOSIS ORIEN EN ECO Y RN_Jueves.csv
/reportesDeHorarios/PMU_PROF.MEDIO EN MUSICA_Viernes.csv
/reportesDeHorarios/DUDE_DOC EN CS EN BIOSIS, ECO Y MAN_Jueves.csv
/reportesDeHorarios/MIIR_MAE EN INGENIERIA DE DESA_Lunes.csv
/reportesDeHorarios/AGR_LIC EN ING. AGRONOMO_Sábado.csv
/reportesDeHorarios/LCOP_LIC EN CONTADURIA PUBLICA_Viernes.csv
/reportesDeHorarios/LIAD_LIC EN ADMINISTRACION_Lunes.csv
/reportesDeHorarios/MEMR_DOCTO BIOSIS ORIEN EN ECO Y RN_Sábado.csv
/reportesDeHorarios/MIEG_MAE EN CS EN ECOLOGIA Y GEST_Miércoles.csv
/reportesDeHorarios/MCBM_MAE EN CS EN BIOSISTE_Sábado.csv
/reportesDeHorarios/MIAG_MAE EN ADMON Y GESTION OR AGR_Viernes.csv
/reportesDeHorarios/LEMR_DOC BIOSIS ORIEN EN ECO Y RN_Viernes.csv
/reportesDeHorarios/INOB_LIC EN ING EN OBRAS Y SERVICIO_Jueves.csv
/reportesDeHorarios/MITB_MAE EN ANALISIS TRIBUTARIO_Miércoles.csv
/reportesDeHorarios/PCI_LIC ING DE PROC Y COMER INTER_Sábado.csv
/reportesDeHorarios/DUDE_DOC EN CS EN BIOSIS, ECO Y MAN_Viernes.csv
/reportesDeHorarios/DUME_DOC EN CS EN BIOSISTEMATICA_Jueves.csv
/reportesDeHorarios/MEMC_DOC BIOSIS ORIE ECO REC COST M_Lunes.csv
/reportesDeHorarios/INOB_LIC EN ING EN OBRAS Y SERVICIO_Sábado.csv
/reportesDeHorarios/LBM_LIC EN BIOLOGIA MARINA_Miércoles.csv
/reportesDeHorarios/MEC_LIC EN INGENIERIA MECATRONICA_Lunes.csv
/reportesDeHorarios/CPU_LIC EN CONTADURIA PUBLICA_Viernes.csv
/reportesDeHorarios/ADM_LIC EN ADMINISTRACION_Sábado.csv
/reportesDeHorarios/MDCA_MAE EN DERECHO CONSTITU_Viernes.csv
/reportesDeHorarios/ADM_LIC EN ADMINISTRACION_Martes.csv
/reportesDeHorarios/MDRE_MAE.EN DERECHO_Viernes.csv
/reportesDeHorarios/OBR_LIC EN ING.OBRAS Y SERVICIOS_Martes.csv
/reportesDeHorarios/MDCA_MAE EN DERECHO CONSTITU_Martes.csv
/reportesDeHorarios/MCBM_MAE EN CS EN BIOSISTE_Jueves.csv
/reportesDeHorarios/MEMR_DOCTO BIOSIS ORIEN EN ECO Y RN_Jueves.csv
/reportesDeHorarios/DUBE_DOC. EN CS. EN BIOSISTEMATICA_Viernes.csv
/reportesDeHorarios/CPU_LIC EN CONTADURIA PUBLICA_Martes.csv
/reportesDeHorarios/NUTA_LIC EN NUTRICION_Martes.csv
/reportesDeHorarios/MEMR_DOCTO BIOSIS ORIEN EN ECO Y RN_Viernes.csv
/reportesDeHorarios/MIRN_MAE EN CS EN MANEJO_Lunes.csv
/reportesDeHorarios/MDRE_MAE.EN DERECHO_Lunes.csv
/reportesDeHorarios/TEE_LIC EN INGENIERIA EN TELEINFO_Viernes.csv
/reportesDeHorarios/ADM_LIC EN ADMINISTRACION_Jueves.csv
/reportesDeHorarios/PMU_PROF.MEDIO EN MUSICA_Martes.csv
/reportesDeHorarios/PMU_PROF.MEDIO EN MUSICA_Jueves.csv
/reportesDeHorarios/PTE_TEC. SUP. UNI. EN TELEINFORMAT_Viernes.csv
/reportesDeHorarios/LIRN_LIC ING EN REC NAT YAGRO_Lunes.csv
/reportesDeHorarios/DUME_DOC EN CS EN BIOSISTEMATICA_Sábado.csv
/reportesDeHorarios/LBM_LIC EN BIOLOGIA MARINA_Sábado.csv
/reportesDeHorarios/OBR_LIC EN ING.OBRAS Y SERVICIOS_Sábado.csv
/reportesDeHorarios/INOB_LIC EN ING EN OBRAS Y SERVICIO_Lunes.csv
/reportesDeHorarios/LEMR_DOC BIOSIS ORIEN EN ECO Y RN_Lunes.csv
/reportesDeHorarios/LNTO_LICENCIATURA EN NUTRICION_Viernes.csv
/reportesDeHorarios/MEMR_DOCTO BIOSIS ORIEN EN ECO Y RN_Martes.csv
/reportesDeHorarios/MIRN_MAE EN CS EN MANEJO_Viernes.csv
/reportesDeHorarios/OBR_LIC EN ING.OBRAS Y SERVICIOS_Jueves.csv
/reportesDeHorarios/DUME_DOC EN CS EN BIOSISTEMATICA_Viernes.csv
/reportesDeHorarios/LCOP_LIC EN CONTADURIA PUBLICA_Jueves.csv
/reportesDeHorarios/MIIR_MAE EN INGENIERIA DE DESA_Jueves.csv
/reportesDeHorarios/MIAG_MAE EN ADMON Y GESTION OR AGR_Miércoles.csv
/reportesDeHorarios/LBM_LIC EN BIOLOGIA MARINA_Viernes.csv
/reportesDeHorarios/MIRN_MAE EN CS EN MANEJO_Sábado.csv
/reportesDeHorarios/CPUA_LIC EN CONTADURIA PUBLICA_Miércoles.csv
/reportesDeHorarios/RNA_LIC ING. EN REC NATURALES Y A_Lunes.csv
/reportesDeHorarios/MITB_MAE EN ANALISIS TRIBUTARIO_Viernes.csv
/reportesDeHorarios/LEMC_DOC BIOSIS ORIE ECO REC COST M_Miércoles.csv
/reportesDeHorarios/MIIR_MAE EN INGENIERIA DE DESA_Sábado.csv
/reportesDeHorarios/MCBM_MAE EN CS EN BIOSISTE_Lunes.csv
/reportesDeHorarios/LBM_LIC EN BIOLOGIA MARINA_Martes.csv
/reportesDeHorarios/LBM_LIC EN BIOLOGIA MARINA_Jueves.csv
/reportesDeHorarios/LIRN_LIC ING EN REC NAT YAGRO_Jueves.csv
/reportesDeHorarios/LIRN_LIC ING EN REC NAT YAGRO_Martes.csv
/reportesDeHorarios/ADM_LIC EN ADMINISTRACION_Viernes.csv
/reportesDeHorarios/PEM_TEC. SUP. UNI.EN ELECTRONICA Y_Miércoles.csv
/reportesDeHorarios/MIIR_MAE EN INGENIERIA DE DESA_Miércoles.csv
/reportesDeHorarios/NUTA_LIC EN NUTRICION_Viernes.csv
/reportesDeHorarios/LIAD_LIC EN ADMINISTRACION_Miércoles.csv
/reportesDeHorarios/MITB_MAE EN ANALISIS TRIBUTARIO_Lunes.csv
/reportesDeHorarios/MIEG_MAE EN CS EN ECOLOGIA Y GEST_Viernes.csv
/reportesDeHorarios/PMU_PROF.MEDIO EN MUSICA_Sábado.csv
/reportesDeHorarios/LIRN_LIC ING EN REC NAT YAGRO_Sábado.csv
/reportesDeHorarios/LCOP_LIC EN CONTADURIA PUBLICA_Martes.csv
/reportesDeHorarios/DUBE_DOC. EN CS. EN BIOSISTEMATICA_Lunes.csv
/reportesDeHorarios/MIIR_MAE EN INGENIERIA DE DESA_Martes.csv
/reportesDeHorarios/MEC_LIC EN INGENIERIA MECATRONICA_Viernes.csv
/reportesDeHorarios/MIRN_MAE EN CS EN MANEJO_Martes.csv
/reportesDeHorarios/MEMR_DOCTO BIOSIS ORIEN EN ECO Y RN_Lunes.csv
/reportesDeHorarios/ADM_LIC EN ADMINISTRACION_Lunes.csv
/reportesDeHorarios/MDCA_MAE EN DERECHO CONSTITU_Sábado.csv
/reportesDeHorarios/CPU_LIC EN CONTADURIA PUBLICA_Sábado.csv
/reportesDeHorarios/LIAD_LIC EN ADMINISTRACION_Viernes.csv
/reportesDeHorarios/CPUA_LIC EN CONTADURIA PUBLICA_Lunes.csv
/reportesDeHorarios/NUTA_LIC EN NUTRICION_Jueves.csv
/reportesDeHorarios/MDCA_MAE EN DERECHO CONSTITU_Lunes.csv
/reportesDeHorarios/MDCA_MAE EN DERECHO CONSTITU_Miércoles.csv
/reportesDeHorarios/CPU_LIC EN CONTADURIA PUBLICA_Jueves.csv
/reportesDeHorarios/LEMC_DOC BIOSIS ORIE ECO REC COST M_Lunes.csv
/reportesDeHorarios/LNTO_LICENCIATURA EN NUTRICION_Miércoles.csv
/reportesDeHorarios/MIEG_MAE EN CS EN ECOLOGIA Y GEST_Lunes.csv
/reportesDeHorarios/AGR_LIC EN ING. AGRONOMO_Viernes.csv
/reportesDeHorarios/PCI_LIC ING DE PROC Y COMER INTER_Miércoles.csv
/reportesDeHorarios/RNA_LIC ING. EN REC NATURALES Y A_Miércoles.csv
/reportesDeHorarios/LCOP_LIC EN CONTADURIA PUBLICA_Miércoles.csv
/reportesDeHorarios/DUBE_DOC. EN CS. EN BIOSISTEMATICA_Jueves.csv
/reportesDeHorarios/MCBM_MAE EN CS EN BIOSISTE_Viernes.csv
/reportesDeHorarios/MIEG_MAE EN CS EN ECOLOGIA Y GEST_Martes.csv
/reportesDeHorarios/PTE_TEC. SUP. UNI. EN TELEINFORMAT_Miércoles.csv
/reportesDeHorarios/MIAG_MAE EN ADMON Y GESTION OR AGR_Lunes.csv
/reportesDeHorarios/CPU_LIC EN CONTADURIA PUBLICA_Lunes.csv
/reportesDeHorarios/MCBM_MAE EN CS EN BIOSISTE_Martes.csv
/reportesDeHorarios/MDCA_MAE EN DERECHO CONSTITU_Jueves.csv
/reportesDeHorarios/NUTA_LIC EN NUTRICION_Sábado.csv
/reportesDeHorarios/MIRN_MAE EN CS EN MANEJO_Jueves.csv
/reportesDeHorarios/MIIR_MAE EN INGENIERIA DE DESA_Viernes.csv
/reportesDeHorarios/DUBE_DOC. EN CS. EN BIOSISTEMATICA_Sábado.csv
/reportesDeHorarios/PMU_PROF.MEDIO EN MUSICA_Miércoles.csv
/reportesDeHorarios/PCI_LIC ING DE PROC Y COMER INTER_Jueves.csv
*.log
